<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>
  
  <!-- Owner Column -->
  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let row">{{ row.owner }}</td>
  </ng-container>
  
  <!-- Owner Column -->
  <ng-container matColumnDef="providerName">
    <th mat-header-cell *matHeaderCellDef>Provider</th>
    <td mat-cell *matCellDef="let row">{{ row.provider.name }}</td>
  </ng-container>
  
  <!-- Owner Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="handleRowRemove(row)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="handleRowSelect(row)">
        <mat-icon>comment</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
