<form class="message-form" (submit)="handleSubmit($event)" autocomplete="off">
  <mat-form-field class="message-form-input">
    <input matInput [value]="message" (input)="handleInput($event)">
  </mat-form-field>
  <button type="submit" mat-icon-button>
    <mat-icon>send</mat-icon>
  </button>
</form>
