header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #3f51b5;

  & > nav {
    color: white;
    padding: 10px;
  }
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
