<header class="mat-elevation-z6">
  <nav>
    <a mat-button routerLink="/providers">Providers</a>
    <a mat-button routerLink="/favorites">Favorites</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
