<app-favorite-list [favorites]="favorites"
                   (select)="handleSelectFavorite($event)"
                   (remove)="handleRemoveFavorite($event)">
</app-favorite-list>

<ng-container *ngIf="selectedFavorite">
  <app-favorite-messages [favorite]="selectedFavorite"
                         (sendMessage)="handleSendMessage($event)">
  </app-favorite-messages>
  
  <button class="close-btn" mat-icon-button (click)="handleClose()">
    <mat-icon>close</mat-icon>
  </button>
</ng-container>
