<table class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">
  
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="handleRowCheck(row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
  <ng-container *ngFor="let item of columns" [matColumnDef]="item.column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="item.sortDisabled">
      {{ item.columnName }}
    </th>
    <td mat-cell *matCellDef="let row">{{ row[item.column] }}</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
