<mat-card>
  <mat-card-header>
    <mat-card-title>{{ favorite.name }}</mat-card-title>
    <mat-card-subtitle>{{ favorite.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item *ngFor="let message of favorite.messages" role="listitem">
        <p class="message-block">
          <span>{{ message.text }}</span>
          <i>{{ message.date | date }}</i>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <app-favorite-message-form (send)="handleSend($event)"></app-favorite-message-form>
  </mat-card-actions>
</mat-card>
