:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  margin-right: 30px;
  margin-left: 30px;
}

.provider-items-container {
  flex-grow: 1;
  position: relative;
}

app-provider-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.providers-container {
  display: flex;
}
