<div class="providers-container">
  <h3>Data provider</h3>
  <mat-form-field>
    <mat-select [(value)]="selectedProvider" (selectionChange)="handleProviderChange(selectedProvider)">
      <mat-option *ngFor="let provider of providers" [value]="provider">{{ provider.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="provider-items-container">
  <app-provider-items [columns]="tableColumns"
                      [items]="providerItems"
                      [selectedItems]="selectedProviderItems"
                      [displayedColumns]="displayedColumns"
                      (select)="handleItemSelect($event)">
  </app-provider-items>
</div>
